!public/assets/vendor/
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/media-library
/vendor
.env
.env.backup
.env.production
.phpactor.json
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/auth.json
/.fleet
/.idea
/.vscode
bin/
tests/Curl/token.txt
nodejs/whatsapp-bridge/.wwebjs_auth/
nodejs/whatsapp-bridge/logs/
nodejs/whatsapp-bridge/src/data/